.class{
  background: rgb(13,36,225);
  background: linear-gradient(135deg, rgba(13,36,225,0.65) 0%, rgba(11,11,11,0.65) 50%, rgba(243,243,9,0.65) 100%);
}
body{
  padding-left: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:red;
  background: rgb(12,18,71);
  background: linear-gradient(315deg, rgba(12,18,71,1) 30%, rgba(11,11,11,0.85) 50%, rgba(85,85,10,1) 90%);;
} 
img{
  display: inline-flex;
}
.generic{
  justify-content: center;
  display: inline-grid;
  margin: 0px 0px 50px 50px;
}
.pai{
  display: flex;
  margin-left: 10px;
  border: #003311;
}
.coments{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 5px;
  padding-right: 4px;
  border: 2px solid #669999;
  border-radius: 5px;
}
.textarea{
  display: inline-flex;
  justify-content: space-around;
}
.esq{
  display: inline-flex;
  justify-content: space-around;
}